body {
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  font-family: "Poppins", serif;
}
h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 30px;
}
#item-input {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
}
#add-btn {
  padding: 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#shopping-list {
  list-style-type: none;
  padding: 0;
}
#shopping-list li {
  background-color: white;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.delete-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}
